<ion-content>
    <ng-container>
        <ion-header *ngIf="user">
            <ion-toolbar>
                <ion-grid>
                    <ion-row class="header-row">
                        <ion-col class="title" size="auto">
                            Firebase Security Application
                        </ion-col>
                        <ion-col *ngIf="user.role === 'admin'" (click)="navigateToAdminPage()" class="user-list-link" size="auto">
                            <p>User Data</p>
                        </ion-col>
                        <ion-col></ion-col>
                        <ion-col size="auto">
                            <b>Logged in User:</b>
                        </ion-col>
                        <ion-col size="auto" class="padding-right">
                            {{user.email ? user.email : ''}}
                        </ion-col>
                        <ion-col size="auto">
                            <b>Role:</b>
                        </ion-col>
                        <ion-col size="auto" class="padding-right">
                            {{user.role ? user.role : '' }}
                        </ion-col>
                        <ion-col size="auto">
                            <ion-button (click)="logout()" color="danger">Sign Out</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-toolbar>
        </ion-header>
        <div class="card-container">
            <ion-card>
                <ion-card-header>
                    Company Structure
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col>
                            <div class="user-card">
                                Admin
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="icon-row">
                        <ion-col size="auto">
                            <ion-icon name="arrow-up-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="user-card">
                                Supervisor
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="icon-row">
                        <ion-col size="auto">
                            <ion-icon name="arrow-up-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="user-card">
                                User
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
    </ng-container>
</ion-content>